<div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Seller Registration</span></h6>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Register as Seller</h4>
                      <div class="form-group" [formGroup]="sellerForm">
                        <div class="form-group">
                          <input type="text" name="sellerName" class="form-style" placeholder="Your Full Name" formControlName="name" autocomplete="off">
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="email" name="sellerEmail" class="form-style" placeholder="Your Email" formControlName="email" autocomplete="off">
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="sellerPassword" class="form-style" placeholder="Your Password" formControlName="password" autocomplete="off">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="sellerConfirmPassword" class="form-style" placeholder="Confirm Password" formControlName="confirmPassword" autocomplete="off">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="text" name="storeName" class="form-style" placeholder="Your Store Name" formControlName="storeName" autocomplete="off">
                          <i class="input-icon uil uil-store"></i>
                        </div>
                        <div class="form-group mt-2">
                          <textarea name="storeDescription" class="form-style" placeholder="Store Description" formControlName="storeDescription" autocomplete="off"></textarea>
                          <i class="input-icon uil uil-info-circle"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input class="checkbox" type="checkbox" formControlName="terms" />
                          <label for="terms">I agree to the terms and conditions</label>
                        </div>
                        <a #registerbtn class="btn mt-4" (click)="onSubmit()">Submit</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-back">
                  <!-- Optional back side for additional info or links -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  