<div class="container mt-4">
    <div class="row">
        
        <div class="col-md-6 mb-4">
            <div class="card text-white bg-p">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-boxes"></i> Manage Orders</h5>
                    <p class="card-text">View, edit, and manage customer orders efficiently.</p>
                    <a class="btn btn-light" 
                        routerLink="/admindashboard/tools/orders">
                       Go to Orders
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card text-white bg-t">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-people"></i> Manage Users</h5>
                    <p class="card-text">Add, remove, and modify user accounts as needed.</p>
                    <a class="btn btn-light" 
                       routerLink="/admindashboard/tools/users">
                       Go to Users
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
