/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.bg-p,.btn-primary{
    color:#ffffff ;
    background-color: #1E2761;
    border-color: black;
}
.bg-s,.btn-secondary{
    color: #ffffff;
    background-color: #408EC6;
    border-color: black;
}
.bg-t,.btn-tertiary{
   color:#ffffff ; 
   background-color: #7A2048;
   border-color: black;
}

*{
    font-family: Montserrat;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
